<div class="col-md-4">
<div class="panel panel-default">
    <div class="panel-heading">{{ bookmark }}</div>
    <div class="panel-body">
        {{ bookmark.description|linebreaks }}
        <p><a href="{{ bookmark.url }}" target="_blank">{{ bookmark.url }}</a></p>
        <section>
            <ul class="list-inline">
                <li>tagged with:</li>
                {% for tag in bookmark.tags.all %}
                    <li><a href="{% url 'bookmarks:search' tag=tag.name %}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </section>
    </div>
    {% if not delete_view %}
    <div class="panel-footer clearfix">
        <a class="pull-left" href="{% url 'bookmarks:update' pk=bookmark.pk %}">Edit</a>
        <a href="{% url 'bookmarks:delete' pk=bookmark.pk %}" class="pull-right text-danger">Delete</a>
    </div>
    {% endif %}
</div>
</div>
